[Desktop Entry]
Categories=Game;
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=neoemu org.ExPlusAlpha.NEOemu
Name=NEOemu
Terminal=False
Icon=/home/deck/.local/share/icons/exemu/neo.png